@import "tailwindcss";

/* Dejar las directivas de Tailwind al inicio */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@theme {
    --color-primary: #437118;
    /* Fern green */
    --color-secondary: #AFD06E;
    /* Pistachio */
    --color-info: #87AECE;
    /* Carolina blue */
    --color-background: #F5F3D8;
    /* Beige */

    /* Soporte y Estado (ajustados para contraste) */
    --color-text-dark: #1f2937;
    --color-success: #059669;
    --color-danger: #dc2626;

}