@import "tailwindcss";

/* Dejar las directivas de Tailwind al inicio */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@theme {
  --color-primary: #437118;
  /* Fern green */
  --color-secondary: #afd06e;
  /* Pistachio */
  --color-info: #87aece;
  /* Carolina blue */
  --color-background: #f5f3d8;
  /* Beige */

  /* Soporte y Estado (ajustados para contraste) */
  --color-text-dark: #1f2937;
  --color-success: #059669;
  --color-danger: #dc2626;

  /* New Palette -------------------------------*/
  --color-green-light: #44be67;
  --color-green-dark: #0d4a2b;
  --color-text-primary: #1d1b26;
  --color-text-secondary: #1d1b26;
  --color-custom-white: #fafff9;
}

::-webkit-scrollbar {
  width: 10px; /* ancho del scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* fondo del track */
}

::-webkit-scrollbar-thumb {
  background-color: #9ca3af; /* color del thumb (parte que se mueve) */
  border-radius: 9999px; /* lo hace totalmente redondeado */
  border: 2px solid transparent; /* opcional, para que no se vea muy grueso */
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280; /* color al pasar el mouse */
}
